<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Ich heisse {{name}} {{lastName}}</h1>
    {{#unless lastName}}
    <p>ich habe keinen Nachnamen</p>
    {{/unless}}
    <p>ich wohne in {{{location}}}</p>
    <ul>
        {{#each cities}}
        <li>{{this}}</li>
        {{else}}
        <p>No cities yet!</p>
        {{/each}}
    </ul>

    <ul>
        {{#each cities}}
        <li>{{@index}}: {{this}}</li>
        {{/each}}
    </ul>

    <ul>
        {{#each contact}}
        <li>{{@key}}: <strong>{{this}}</strong> </li>
        {{/each}}
    </ul>

    <ul>
        {{#each cities}}
        {{#if @first}}
        <li><b>{{this}}</b></li>
        {{else if @last}}
        <li><i>{{this}}</i></li>
        {{else}}
        <li>{{this}}</li>
        {{/if}}
        {{/each}}
    </ul>

    {{#with contact}}
    <p>{{street}}, {{phone}}</p>
    {{/with}}
</body>

</html>